[submodule "7-trade-web-cms/cms-frontend"]
	path = 7-trade-web-cms/cms-frontend
	url = ./7-trade-web-cms/cms-frontend/.git
[submodule "7-trade-web-app/app-frontend"]
	path = 7-trade-web-app/app-frontend
	url = ./7-trade-web-app/app-frontend/.git
